
.DS_Store
.ipynb_checkpoints/Project3_Starter-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/Project3_SL_Classification_Regressions-checkpoint.ipynb
.ipynb_checkpoints/Project3_SL_Linear_Regressions-checkpoint.ipynb
